pre {
  margin: 0 !important;
  display: inline-block;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  background: none;
}
/* override prism.css so it wraps on mobile */
code[class*="language-"],
pre[class*="language-"] {
  white-space: pre-wrap;
}

/* input,
button {
  height: 38px;
  margin: 0;
  padding: 6px 12px;
  border-radius: 2px;
  color: inherit;
} */

input[disabled],
button[disabled] {
  background-color: #eee;
}
input,
select {
  border: 1px solid #ccc;
  width: 250px;
}
button {
  color: #fff;
  background-color: #428bca;
  border: 1px solid #357ebd;
}
button:hover {
  background-color: #3276b1;
  border-color: #285e8e;
  cursor: pointer;
}
#result {
  margin: 40px 0;
}
